Django>=5.1,<5.2
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<5.4
django-cors-headers>=4.4,<4.5
django-environ>=0.11,<0.12
mysqlclient>=2.2,<2.3
PyMySQL>=1.1,<1.2
Pillow>=10.4,<10.5
gunicorn>=22.0,<23.0
whitenoise>=6.7,<6.8
pytest>=8.3,<8.4
pytest-django>=4.9,<5.0
django-filter>=24.0,<25.0
requests>=2.32,<2.33
drf-spectacular>=0.27,<0.28
